table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: .8vw;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.pHeader, .sHeader {
    margin: 10px;
}
#bold {
    margin-top: 20px;
}
header, h1 {
    background-color: #003cb3;
    margin: 0;
    padding: 5px;
    color: white;
    text-align: left;
    font-weight: normal;
}
i {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3px;
    font-family: Times New Roman;
    z-index: -1;
}
body {
    font-family: Arial;
    margin: 0;
}
table {
    position: relative;
    width: 90%;
    margin: 100px auto;
}
button {
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid grey;
    height: 30px;
    width: 60px;
}
a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 20px 0 10px;
}
a:hover {
    color: grey;
}
button:hover {
    background-color: white;
    cursor:pointer;
}
textarea {
    border-radius: 5px;
}
table, tr, th {
    font-size: 1.25vw;
    border: solid black 1px;
}
#lunch {
    height: 30px;
    font-size: 30px;
}
@page {
    size: landscape;
}
@media print {
    body {
        visibility: hidden;
    }
    table {
        visibility: visible;
        width: 100%;
    }
}
